/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

/* inter-regular - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v8-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/inter-v8-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/inter-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/inter-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/inter-v8-latin-ext_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-500 - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/inter-v8-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/inter-v8-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/inter-v8-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-v8-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/inter-v8-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/inter-v8-latin-ext_latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-700 - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v8-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/inter-v8-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/inter-v8-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/inter-v8-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/inter-v8-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/inter-v8-latin-ext_latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}



/* quattrocento-regular - latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/quattrocento-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/quattrocento-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quattrocento-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quattrocento-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quattrocento-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quattrocento-v15-latin-regular.svg#Quattrocento') format('svg'); /* Legacy iOS */
}

/* quattrocento-700 - latin */
@font-face {
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/quattrocento-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/quattrocento-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/quattrocento-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/quattrocento-v15-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/quattrocento-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/quattrocento-v15-latin-700.svg#Quattrocento') format('svg'); /* Legacy iOS */
}


